body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2e;
}

nav {
    margin-bottom: 150px;
    margin-top: 500px;
}

.container {
    position: relative;
    margin-top: 0%;
    margin-bottom: 100%;
}

.about-section {
    margin-top: 0%;
    font-size: larger;
    position: relative;
    text-align: center;
    color: rgb(253, 249, 233);
}
